[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/bin/kube-scheduler \
	--leader-elect=true \
	--master=http://127.0.0.1:8080 \
	--v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
