[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=cri-containerd.service
Requires=cri-containerd.service

[Service]
ExecStart=/usr/bin/kubelet \
	--allow-privileged=true \
	--anonymous-auth=false \
	--authorization-mode=Webhook \
	--client-ca-file=/var/lib/kubernetes/ca.pem \
	--cluster-dns=10.32.0.10 \
	--cluster-domain=cluster.local \
	--container-runtime=remote \
	--container-runtime-endpoint=unix:///var/run/cri-containerd.sock \
	--image-pull-progress-deadline=2m \
	--kubeconfig=/var/lib/kubelet/kubeconfig \
	--network-plugin=cni \
	--pod-cidr=POD_CIDR \
	--register-node=true \
	--require-kubeconfig \
	--runtime-request-timeout=15m \
	--tls-cert-file=/var/lib/kubelet/HOSTNAME.pem \
	--tls-private-key-file=/var/lib/kubelet/HOSTNAME-key.pem \
	--v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
